<%= form_tag profiles_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= button_tag "Search", name: nil %>
    <%= text_field_tag :profileable_type,  self.controller.params[:controller].singularize.capitalize.constantize, :type => 'hidden' %>

  </p>
<% end %>

<p><%# link_to "Advanced Search", new_search_profile_path %></p>
