<table>
<h3>
		</h3>

<% if @parent.nil? %>
	<% @parent = @user %>
<% end %>


<% @self_profile_headers = @parent.profiles %>

<% @self_profile_headers.group(:name).where("profiles.made_public_at IS NOT NULL").each do |p| %>
<td>
<table>
	<th><%= p.name %></th>


	<% @self_profile_headers.each do |b| %>

		<% if b.name == p.name %>

			<tr><td>
				<% if b.bio =~ /http/ or b.bio =~ /www/ %>
					<table>
					<tr><td>
						<%= link_to b.bio, b.bio  %>
					</td>
					<td>
						<%= link_to 'Link', b %>
					</td>

				<% else %>

					<%= link_to b.bio, b  %>


				<% end %>


			</td>

			</tr>

		<% end %>
	<% end %>
</table>
</td>
<% end %>

</table>
