<h3><%= link_to @user.email.first(@user.email.index('@')), @user  %></h3>

    <% @user_profile_headers = @user.profiles %>

      <% @user_profile_headers.group(:name).where("profiles.made_public_at IS NOT NULL").each do |p| %>
        <div class="col-md-4 col-sm-6">
          <div class="panel panel-default">
          <div class="panel-heading"> <a></a><h4>  <%= p.name %> </h4></div>

            <div class="panel-body">
              <div class="list-group">
                <% @user_profile_headers.each do |b| %>
                  <% if b.name == p.name %>
                    <a><%= link_to b.bio, b, :class =>'list-group-item' %></a>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>





