<h2>Profiles Index</h2>

<h1>User Profiles</h1>

<%= 'The is not the page you were looking for.' %>

<% #@profiles.each do |profile|  #@user = User.find(profile.user_id)  #render 'profiles/user_profile' #end %>
