<h2>Possible Solutions - (Auto)</h2>

<% @wordlist = [] %>
<% @problem.body.split(/\W+/).each do |ws| %>
	<% @wordlist << ws %>
<% end %>

<!-- #this needs to move to the model  -->
<%= render '/simvols/graph3T' %>

<!--#setup array for taged word search -->

<% @words = [] %>

<!--#graph is an array of tagged words-->

<% @graph.uniq.each do |g|  %>

	<% @simvol = g %>

<!--#fill up the words array with simvol names-->
	<% @words << g.name  %>

<!--#g-->
<% end  %>

'Possible Project solutions' <br>

     <% @words.map! { |word| "title LIKE '%#{word}%' or body LIKE '%#{word}%'" } %>
     <% sql = @words.join(" or ") %>
     <% @projects = Project.where(sql).order('created_at desc') %>

<% @projects.each do |p| %>
		<% @project = p %>
		<%= link_to p.title, p %><br>

		<!--#p-->
<% end  %>
<br>
I can find more projects if you help me understand these words. <br>

<% @graph.uniq.each do |g|  %>

	<% @simvol = g %>


	<% if g.tags.count <= 3 %>
		<%= render "simvols/tagform" %>

		<!--#g.tags.count-->
	<% end  %>

<!--#g-->
<% end  %>
