<h2>Possible Solutions - (Auto)</h2>

<% @wordlist = [] %>
<% @problem.body.split(/\W+/).each do |ws| %>
	<% @wordlist << ws %>
<% end %>


<%= render '/simvols/graph3T' %>
<% @words = [] #setup array for taged word search%>
<% @graph.uniq.each do |g| #graph is an array of tagged words %>
	<% #g.tags.count %>
	<% #g.name %>
	<% @simvol = g %>
	<% @words << g.name #fill up the words array with simvol names %>

	<% if g.tags.count <= 3 %>
		<%= render 'simvols/tagform' %>
	<% end #g.name.count %>

<% end #g %>

<%= 'Possible Project solutions'  %> <br>

     <% @words.map! { |word| "title LIKE '%#{word}%' or body LIKE '%#{word}%'" } %>
     <% sql = @words.join(" or ") %>
     <% @projects = Project.where(sql).order('created_at desc') %>

<% @projects.each do |p| %>
		<% @project = p %>
		<%= link_to p.title, p %><br>
<% end %>


