<h1>How to solve problems</h1>

<p>Define the problem</p>
<p>Measure impact of the problem</p>
<p>Analize possible solutions</p>
<p>Implement the project</p>
<p>Control the results</p>


<%"

Problem Flow
Define the problem
Decide what would be considered a fix
Stakeholder analysis
Measure and Analyze
Follow through downstream processes
Propose and Implement Solutions
Pilot - Implement in a smaller controlled environment

Measure Results
Control

Allow some percentage of vote to commit to go to the next step. Split the problem... Some sort of process to define the problems... and then split it.

Every problem get's a level up as it gets solved moving through the DMAIC or propose altermnative methods? Palladin to level 2!

Projects can be created only to solve a part of the problem or the whole? hmmm....Soo... Projects are associated to problenms through SOlutions. A project represents a solution...


Table of votes per problem? Or single level record of voting counts? No... remember each vote.

|For each item that takes a vote I need a table of votes....

Same problem as comments (Same table for all comments or different table for each comment type)?

How does a problem level up?

Can a user level up? hehee... yea!

Assign Tasks... from the project.Differentiate between real world tasks and digital tasks?

No need.... err... well? Maybe different point assignments? Ahh.... who assigns tasks?
Fake accounts can't vote.only project partners can vote.

Need tasks or sub projects/? " %>

