<div class="panel-body">
  <div class="list-group">
    <h4>Users</h4>
    <% Group.find(@g).group_memberships.where("member_type = 'User'").uniq.each do |m| %>

    <a><%= link_to m.member.email , m.member, :class => 'list-group-item'  %></a>
    <% end %>

  </div>
</div>


<div class="panel-body">
  <div class="list-group">
    <h4>Projects</h4>

    <% Group.find(@g).group_memberships.where("member_type = 'Project'").each do |m| %>

    <a><%= link_to m.member.title , m.member, :class => 'list-group-item' %></a>

    <% end %>

  </div>
</div>
