
<% @gm = @obj.group_memberships %>
<% @gm.each do |g| %>

<div class="col-md-4 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
<%= 'Group ID: '  %>
      <%= @g = g.group_id %>

    </div>

    <% #need a way to show hide cards for view all options %>
    <% #build collection of group objects for the merge button %>


    <%= render 'group_memberships/g_members' %>




    </div>
  </div>

<% end %>



