<h2>Show</h2>
<h1>User Profile</h1>

<% if user_signed_in? %>

<%= render 'profiles/user_profile' %>

<%= render 'projects/user_projects'  %>

<%= link_to 'Back to user listings', users_path %>

<% end %>
