<p class="manifesto-text">
  "Let's solve all the world's problems."<br>
  "I propose that we start writing them all down then look for solutions for the ones we can fix."<br>
  "Find someone to help define and analyze your problem or get going on solving existing ones."<br>
  "Build a team, see the world, make a change."</p>
  <br>
<p class="manifesto-text">Get started here. Today.</p>

<%= link_to "Sign In" , user_session_path, class: 'btn btn-primary btn-lg' %> <%= link_to "Sign Up" , new_user_registration_path, class: 'btn btn-success btn-lg' %>

