<p class="manifesto-text">
  "Fixing any problem, big or small, will make the world a better place for all of us."<br>
  "Find someone to help you with your project or to help define and analyze your problem"<br>
  "Build a team, see the world, make a change."</p>
  <br>
<p class="manifesto-text">Get started here. Today.</p>

<%= link_to "Sign In" , user_session_path, class: 'btn btn-primary btn-lg' %> <%= link_to "Sign Up" , new_user_registration_path, class: 'btn btn-success btn-lg' %>

