<p class="manifesto-text">
  EightKM - Solutions engine for a universe of problems. <br>

  Build a team, see the world, make a change.

  Get started here. Today.</p>

<%= link_to "Sign In" , user_session_path, class: 'btn btn-primary btn-lg' %><%= link_to "Sign Up" , new_user_registration_path, class: 'btn btn-success btn-lg' %>
