<p class="manifesto-text">
  Solutions engine for a universe of problems. <br><br>

  Use our global platform to solve yours. <br>
  Or ask us about local deployment. <br><br>

  Build a team, see the world, make a change. </p><br>

<p class="manifesto-text">Get started here. Today.</p>

<%= link_to "Sign In" , user_session_path, class: 'btn btn-primary btn-lg' %>
<%= link_to "Sign Up" , new_user_registration_path, class: 'btn btn-success btn-lg' %>
