<div class="container-fluid">
  <div class="text-center">
    <h1>Hello, Friend!</h1>
    <pre><%= render 'manifesto' %></pre>
    <h3> your IP address is: <%= request.remote_ip %></h3>
    <p>You came here from: <%= request.referer %></p>
    <%= link_to 'Retreat!', request.referer %>
  </div>
</div>
