
<h2>Comments</h2>

<p><%= link_to 'Add a Comment', new_partnership_comment_path(@partnership) %></p>

<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @partnership.comments.roots %>
</ul>
