<h1>My projects</h1>

<table border style="hairline">
  <thead>
    <tr>
      <th>Title		</th>
      <th>Abstract	</th>
	  <th>Role		</th>
    </tr>
  </thead>

  <tbody>

    <% current_user.projects.uniq.each do |p| %>
      <tr>
        <td><%= link_to p.title, p %></td>
        <td><%= p.body %></td>


		<td><% p.partnerships.each do |r| %>
		<%= link_to r.role,r if r.user_id == current_user.id %>
			<% end %>
			  </td>
      </tr>
    <% end %>



  </tbody>
</table>
