    <div class="col-md-4 col-sm-6">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><%= @project.title %></h4>
            </div>

            <div class="panel-body">
              <div class="list-group">
                  <a class ='list-group-item'> <%= @project.body %> </a>
                  <a class ='list-group-item'>  <%= @project.published_at %> </a>
                </div>
            </div>
        </div>

    </div>
