 <div class="text-center">

  <% if @user == current_user %>
     <h1>My Projects</h1>
     <% else %>
    <h1>Projects</h1>
    <% end %>
  </div>


<% @projects = @user.projects %>

<% if @projects.nil? %>

  <%= 'No user projects'  %>

<% else %>

<%= render @projects %>

<% end %>
