<div class="container" id="main">

  <div class="row">


 <div class="col-md-4 col-sm-6"><div class="panel panel-default">
    <div class="panel-body">
  "Help someone with their project."<br>
  "Someone out there loves what you love."<br>
  "They see what you see."<br>
  "The same frustrations, the same goals." <br>
  "Same purpose."<br>
  <br>
  Find a common purpose and change the world. Today is the day. <br>

  </div></div>
</div>

<%= render 'index_new_project' %>


<%= render @projects %>

</div>
</div>
