<table borderstyle="hairline">

	<tr><td colspan="2">
		<h3>
<%= link_to 'New Project', new_project_path %></h3>

<hr>
<%= render 'friends_projects' %>
<%= render 'myindex'%>
<% # render 'randomindex'%>
<% #render 'recentindex'%>

<% # Popular Projects %>
