<table borderstyle="hairline">
	
	<tr><td colspan="2">
		<h3>
<%= link_to 'New Project', new_project_path %></h3>

<%= render 'myindex'%>
<%= render 'randomindex'%>
<%= render 'recentindex'%>
<h1>Popular Projects</h1>


<list><li>Define Project List</li></list>