
#map-container {
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
    width:33.3333%;
    height:calc(100% - 0);
    position:absolute;
    left:1px;
    top:50px;
    bottom:0;
    overflow:hidden;
 }


.marker_container {
border: 1px solid black; margin-top: 8px; background: white; padding: 5px;
}


#map {
  width:33.3333%;
    height:calc(100% - 0);
    position:absolute;
    left:1px;
    top:50px;
    bottom:0;
    overflow:hidden;
}
